@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Permanent+Marker&family=Sawarabi+Mincho&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Sawarabi Mincho', serif; 
  font-size: 1rem;
}
section{
  min-height: 100vh;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
h1{
  font-family: 'Fascinate Inline', cursive;
  font-size:5rem;
}
h2{
  font-size: 2.5rem;
}

.filter-btn {
  background: transparent;
  border-color: 1px solid rgb(144, 23, 200);
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: rgb(144, 23, 200);
  cursor: pointer;
  transition: all 0.3s ease-in;
  border-radius: 5px;
}

.filter-btn:hover {
  background-color: rgba(144, 23, 200, 0.6);
  color: black;
}
.filter-btn.active {
  background-color: rgb(144, 23, 200);
  color: #fff;
}